#graphs-full {
  display: flex;
  justify-content: center;
  background-color: white;
  margin-top: 20px;
}

#graphs-main {
    position: relative;
    background-color: white;
    font-size: 12px;
}

.switch {
    position: relative;
    width: 50px;
    margin: 0 0px 0 0px;
  }
  .switch input {
    opacity: 0;
    width: 30;
    height: 0;
  }
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(24px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
#bar-menu, #line-menu{
  width: 180px;
  height: 30px;
  border-radius: 10px;
  font-size: 15px;
  text-indent: 5px;
}

#line-menu{
  display: flex;
  align-items: center;
  border: 1px solid rgb(38, 38, 38);
}

#graph-container {
  width: 600px;
}

#extra {
  display: flex;
  font-size: 15px;
  text-align: end;
  margin-top: 20px;
}

#copy {
  height: 25px;
  margin-right: 5px;
  background-color: none;
  cursor: pointer;
  &:active {
    scale: 0.95;
  }
}


@media (max-width: 700px) {
    #graph-container {
      width: 90vw;
      font-size: 16px;
    }
    #extra {
      font-size: 10px;
    }
   
  }

