.loading-box {
  position:relative;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(221, 221, 221, 0.9);
  padding: 10px 20px;
  width: 500px;
  min-height: 180px;
  height: fit-content;
}
.loading-box p {
  margin: 10px 0;
  overflow: hidden;
  white-space: normal; /* Mantén el texto en una sola línea */
  text-align: center;
}

.progress-2 {
  width:120px;
  height:30px;
  border-radius: 20px;
  background:
   linear-gradient(#0c4b83 0 0) 0/0% no-repeat;   
  animation:p2 3s infinite;
}
@keyframes p2 {
    100% {background-size:110%}
}

#progress-6 {
  width:140px;
  height:25px;
  border-radius: 20px;
  border:2px solid #0c4b83;
  position: relative;
  color: #0c4b83;

}
#progress-6::before {
  content:"";
  position: absolute;
  margin:2px;
  inset:0 100% 0 0;
  border-radius: inherit;
  background: #137dda;
  animation:p1 10s infinite;
}
@keyframes p1 {
    100% {inset:0}
}

#support-box {
  position: relative;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  width: 500px;
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: rgba(221, 221, 221, 0.9);
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

#support-box p {
    line-height: 1.4;
    margin: 12px 20px;
  }


 #pay {
    width: 220px;
    cursor: pointer;
    height: auto;
    margin-bottom: 15px;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      transform: scale(0.95);
    }
  }
 #buy {
    width: 200px;
    height: 45px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      transform: scale(0.95);
    }
  }

  @media (max-width: 700px) {
    .loading-box {
      position:relative;
      width: 300px;
      min-height: 180px;
      height: fit-content;
      font-size: 13px;
    }
    #support-box {
      width: 300px;
      height: auto;
      padding: 10px 0;
      background-color: rgba(221, 221, 221, 0.9);
      text-align: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 14px;
      top: 15px;
    }
    #pay {
      width: 200px;
    }
    #buy {
      width: 180px;
      height: 40px;
    }
  }